.imgclass {
    height: 100%;
    width: 100%;
    transition: transform 400ms;
    background-position: center;
    background-size: contain;
  }

  .imgclass:hover {
    transform: scale(1.03);
  }

  .icons {
    gap: 0.5em;
  }
  .icons svg {
    height: 1.2em;
    width: auto;
    transition-property: opacity, transform;
    transition-duration: calc(var(--transition-duration) / 2);
    transition-delay: 0s;
  }

